# SPDX-FileCopyrightText: 2019-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

vendor
**/_output
**/__pycache__
*.DS_Store
coverage.txt
*.coverprofile
.idea

# Jenkins report files
*report*.xml
*coverage*.xml
*-output.out
integration-tests/*
build/build-tools
build-work-space/

